/*header колір #FFFFFF */
/* section 1 колір #2F303A*/
/* section 2 та 3 колір #F5F5F5*/
/* section 4 колір #F5F4FA*/
/* колір акцент #2196F3*/
/* колір чорний головний #212121 */
/*  колір чорний тексту #757575*/

:root {
  --color-clean-white: #ffffff;
  --color-black-section: #2f303a;
  --color-dirty-white: #f5f5f5;
  --color-gray: #f5f4fa;
  --color-special: #2196f3;
  --color-main-dark: #212121;
  --color-dark: #757575;
  --color-transparent-white: rgba(255, 255, 255, 0.6);
  --color-mainlogo: #000;
  --color-main-button: #188ce8;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.list {
  list-style: none;
}

body {
  background-color: var(--color-clean-white);
  letter-spacing: 0.03em;
  font-family: "Roboto";
  color: var(--color-main-dark);
}

.nav-link {
  color: var(--color-main-dark);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.nav-link.current {
  color: var(--color-special);
  text-decoration: none;
}

.logo {
  color: var(--color-mainlogo);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-footer {
  color: var(--color-clean-white);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-special {
  color: var(--color-special);
}

.contact-header {
  color: var(--color-dark);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus,
.contact-header:hover,
.contact-header:focus {
  color: var(--color-special);
}

.top-section {
  background-color: var(--color-black-section);
}

.main-title {
  color: var(--color-clean-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.main-button {
  background-color: var(--color-special);
  color: var(--color-clean-white);
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.main-button:hover,
.main-button:focus {
  background: var(--color-main-button);
}

.title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.text {
  color: var(--color-dark);
  font-size: 14px;
  line-height: 1.71;
}

.second-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.bottom-text {
  color: var(--color-dark);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.top-color {
  background-color: var(--color-clean-white);
}
.second-section {
  background-color: var(--color-gray);
}

.button {
  background-color: var(--color-gray);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.03em;
}

.button:hover,
.button:focus {
  background-color: var(--color-special);
  color: var(--color-clean-white);
}

.bottom-title {
  color: var(--color-main-dark);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.second-text {
  color: var(--color-dark);
  font-size: 16px;
  line-height: 1.87;
}

footer {
  background-color: var(--color-black-section);
}

.footer-address {
  color: var(--color-clean-white);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

.footer-address:hover,
.footer-address:focus {
  color: var(--color-special);
}

.footer-contact {
  color: var(--color-transparent-white);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

.footer-contact:hover,
.footer-contact:focus {
  color: var(--color-special);
}
